body {
  text-align: center;
  font-family: open sans, sans-serif;
  background-color: #8a71c9;
  color: #ffffff;
  margin: 0;
}

h2 {
  color: #2a0074;
  font-size: 40px;
}

.titulo-verde {
  color: #04ff9f;
}

.titulo-vermelho {
  color: #ff9e9e;
}

.titulo-amarelo {
  color: #ffe36d;
}

section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

h1 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-style: italic;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #99ffff;
  font-weight: 300;
}

.principal ul li a {
  color: #fff;
  text-decoration: underline;
}

.principal {
  background-color: #ff6cb5;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
}

.principal li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 70px;
}

button {
  background-color: #41f341;
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 2px 20px;
}
form {
  margin-bottom: 30px;
}

.campo {
  border-radius: 3px;
  border-style: solid;
}
